@page "/"
@inject NavigationManager navManager
<PageTitle>Index</PageTitle>

<p>
	<button class="btn btn-primary"  onclick="@LogIn">LogIn</button>
</p>
<p>
	<button class="btn btn-primary" onclick="@Registratoin">Registratoin</button>
</p>
@code{
	public void LogIn()
	{
		navManager.NavigateTo("authorization");
	}
	public void Registratoin()
	{
		navManager.NavigateTo("registration");
	}
}