@layout Layout
@page "/mainpage"
<style>
	.right {
		text-align: right;
	}
</style>
@using BlazorControlWork.Data
@inject SingletonServise singleton
@inject NavigationManager navManager

<h1>Hello @singleton.GetUser().LName @singleton.GetUser().FName</h1>
@code {
	
	public void Navigate()
	{
		navManager.NavigateTo("user");
	}
}
